.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}
.heading-title {
  color: #ffffff;
  margin-top: 20px;
  display: inline-block;
  margin-left: 100px;
  font-size: 2rem;
}

body {
  background-color: #000000;
}
h1 {
  margin: 20px;
  font-family: 'Satisfy', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}
h2{
  color: #ffffff;
}

p {
  margin: 15px;
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Russo One', cursive;
}

img {
  width: 80%;
  margin: 20px;
}

.about-icon {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  color: #ffffff;
} 

/* Extra styles for the cancel button */
.cancelbtn {
  color: white;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid white;
  background-color: #000000;
}
.cancelbtn:hover {
  background-color: red;
  border: 1px solid red;

}

.rollbtn {
  color: #ffffff;
  margin: 25px 0px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000000;
  border: 1px solid white;
  font-family: Maven Pro;
  font-size: 20px;
}
.rollbtn:hover {
  color: #000000;
  background-color: #ffffff;

}
/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
.container {
  padding: 10px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #000000;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 65%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


.popup-text {
    margin: 20px;
  font-size: 1rem;
  color: #ffffff;
  font-family: 'sans-serif', cursive;
}